body {
    background: whitesmoke;
}

/* Navbar 1 */

.navbar-1 {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.nav-logo {
    padding-left: 50px;
}

.nav-logo-img {
    width: 62px;
    margin-top: 0%;
}

.nav-name {
    padding-top: 10px;
    padding-left: 20px;
}

.nav-name img{
    width: 250px;
}

.nav-icons-2 {
    width: 150px;
    padding-left: 10px;
}

.nav-icons-2 img {
    width: 35px;
    padding: 3px;
    margin: 2px;
    margin-top: 5px;

}

.nav-icons-2 img:hover {
    cursor: pointer;
}

.wishlist:hover {
    background: rgb(248, 68, 68);
    border-radius: 50%;
}

.nav-search-bar {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form.nav-search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #eef6fa;
}

form.nav-search-bar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.nav-search-bar button:hover {
    background: #0b7dda;
}

form.nav-search-bar::after {
    content: "";
    clear: both;
    display: table;
}

/* Navbar 2 */

.navbar-2 {
    margin-top: 9px;
    margin: 2px;
}

.nav-icons-1 {
    width: 50px;
    padding-left: 10px;
}

.nav-icons-1 img {
    width: 35px;
    float: left;
    padding: 3px;
    margin: 2px;
    margin-top: 5px;
    color: white;
}

.nav-icons-1 img:hover {
    cursor: pointer;
}

.nav-sections {
    background-color: #002E6E;
    border-radius: 5px;
    display: flex;
}

.sections {
    padding: 15px;
    padding-left: 60px;
}

.sections a {
    color: white;
    text-decoration: none;
    padding: px;
    margin-left: 50px;
    margin-right: 50px;
}

.sections a:hover {
    background-color: #111;
}

/*Home Page Started*/

.home-page {
    display: flex;
    height: 480px;
    padding: 50px;
    padding-top: 5px;
    margin-top: 0%;
}

.left-page {
    width: 600px;
    padding: 50px;
}

.title b {
    font-size: 40px;
}

.discription p {
    font-size: 20px;
}

.buy-now-btn button {
    padding: 10px;
    border-radius: 10px;
    background-color: #002E6E;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.buy-now {
    margin-left: 20px;
}

.buy-now-btn button:hover {
    cursor: pointer;
    color: #002E6E;
    border: 2px solid #002E6E;
    background-color: transparent;
}

.right-page {
    width: 600px;
    padding: 50px;
}

.right-page img {
    width: 500px;
}

.slide {
    width: 500px;
    height: 300px;
    background-image: url("../Images/img/img-2.jpg");
    background-size: 100%;
    box-shadow: 0px 0px 8px 8px grey;
    border-radius: 10px;
    animation: changeImage 10s linear infinite;
}

@keyframes changeImage {
    0% {
        background-image: url("../Images/img/icecream1-slide.jpg");
    }

    25% {
        background-image: url("../Images/img/chocolate-home.jpg");
    }

    50% {
        background-image: url("../Images/img/ice-cream-slide.jpg");
    }

    75% {
        background-image: url("../Images/img/img-4.jpg");
    }

    100% {
        background-image: url("../Images/img/curd-slide.jpg");
    }
}

/*Home Page Footer*/

.home-footer {
    text-align: center;
}

.footer-text {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-1 {
    padding: 10px;
    border-radius: 10px;
    background-color: #002E6E;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;

}

.card-btn {
    display: flex;
    justify-content: space-between;
}

.btn-1:hover {
    box-shadow: 0px 0px 4px 2px black;
    color: aliceblue;
}

.btn-start {
    padding-left: 150px;
}

.section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;

}

.para-item {
    font-size: 40px;
}

.font-text-size {
    font-size: 20px;
}

.section-1-div {
    margin-top: auto;
    margin-bottom: auto;
}

.section-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;

}

.img-section-1 {
    width: 550px;
    border-radius: 45px;
    padding: 20px;

}

.img-section-1:hover {
    box-shadow: 0px 0px 2px 4px rgb(47, 48, 47);
    border-radius: 45px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 20px;
}

.img-card {
    width: 200px;
    border-radius: 10px;
    cursor: pointer;

}


.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.card:hover {
    box-shadow: 0px 2px 2px 4px rgb(47, 48, 47);
    border: none;

}

.yt-vid {
    width: 1250px;
    height: 630px;
    padding: 50px;
    margin: 10px;

}

.iframe {
    padding-left: 30px;
    padding-right: 30px;

}

h1 {
    font-size: 50px;

}

.product-para {
    font-size: 25px;
}

.card-container-item {
    display: flex;
    justify-content: center;
    padding: 60px;

}

.card-container:hover{
    background-color: #7f91a3;
    box-shadow: 0 0 20px 2px black;
}
.product-container {
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}

.img-card-footer {
    max-width: 100%;
    border: 1px solid #7fb53c;
    padding: 0%;
    margin-top: 10px;
    border: none;
}

.img-card-footer:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 8px 5px rgb(47, 48, 47);
    cursor: pointer;
}

.card-pic {
    padding: 10px;
    text-align: center;
    padding-left: 30px;
    width: 300px;
}

.card-pic:hover {
    box-shadow: 0px 0px 8px 5px rgb(47, 48, 47);
    border-radius: 20px;
}

.font-size {
    font-size: 23px;
}

/*Footer*/


.footer {
    display: flex;
    justify-content: space-around;
}

.links {
    text-decoration: none;
    color: black;
}

.contact {
    cursor: pointer;
}

.btn-container {
    margin-left: 85px;
}

.btn {
    cursor: pointer;
    background-color: rgb(190, 42, 5);
    width: 20px;
    padding: 5px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 2px white solid;
}

.margin {
    margin-left: 10px;
}

.logo {
    width: 50px;
}

.subs {
    width: 290px;
    padding: 5px;
    border-radius: 5px;
}

.social-handles {
    display: flex;
    justify-content: center;
}

.socials {
    width: 38px;
    margin: 10px;
    cursor: pointer;
}

.designer {
    text-align: center;
    font: caption;
}

.subs-btn{
    text-align: center;

}

